@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $('.blog-posts').click(function () {
                $.ajax({
                    type: 'GET',
                    datatype: 'html',
                    url: '@Url.Action("ListPosts", "BlogPost")',
                    success: function (result) {
                        $('#posts').html(result);
                    }
                });
            });
            $('.update-post').click(function (event) {
                event.preventDefault();


                let selectedId = $(this).attr("name");
                console.log(selectedId);

                $.ajax({
                    type: 'GET',
                    datatype: 'html',
                    data: { id: selectedId },
                    url: '@Url.Action("Update", "BlogPost")',
                    success: function (result) {
                        $('#update-form').html(result);
                    }
                });

            });
            $('.delete-post').click(function (event) {
                event.preventDefault();


                let selectedId = $(this).attr("name");
                console.log(selectedId);

                $.ajax({
                    type: 'GET',
                    datatype: 'html',
                    data: { id: selectedId },
                    url: '@Url.Action("Delete", "BlogPost")',
                    success: function (result) {
                        $('#delete-form').html(result);
                    }
                });
            });
        });
        </script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="nav-bar">
        <nav class="upper-section">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">kayla</a>
            <ul class="nav navbar-nav">
           
                <li class="home"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="glyphicon glyphicon-home"></i><b>home</b></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Projects"><i class="glyphicon glyphicon-wrench"></i><b>work</b></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Resume"><i class="glyphicon glyphicon-list-alt"></i><b>resume</b></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="glyphicon glyphicon-earphone"></i><b>contact</b></a></li>
                <li><a asp-area="" asp-controller="BlogPost" asp-action="Index"><i class="glyphicon glyphicon-pencil"></i><b>blog</b></a></li>
            </ul>

        </nav>
        <nav class="lower-section">
            <ul class="navbar-nav nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="glyphicon glyphicon-check"></i><b>signup</b></a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="glyphicon glyphicon-log-in"></i><b>signin</b></a></li>
                }
                else
                {
                    <li class="username">@User.Identity.Name</li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                            <input type="submit" class="btn btn-default btn-xs logout-button" value="signoff" />
                        }
                    </li>

                }
            </ul>
        </nav>



    </nav>
    <div class="cool-container">
        @RenderBody()

    </div>

</body>
</html>
