@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kayla</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $('.blog-posts').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ListPosts", "BlogPost")',
                    success: function (result) {
                        var stringResult = "";
                        for (var i = 0; i < result.length; i++) {
                            stringResult += '<div class="a-post" id="' + result[i].blogPostId + '"><h3 class="details">' + result[i].title + '</h3><p> ' + result[i].textBody + '</p></div>';

                        }
                        $('#posts').html(stringResult);
                    }
                });
            });
            @*$('.a-post').click(function () {
                var selectedId = $('#id').val();
                console.log(selectedId);
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { 'id': selectedId},
                    url: '@Url.Action("Details")',
                    success: function (result) {
                        $('#detail' + selectedId).html(result);
                    }
                });
            });*@
            @*$('.display-comments').click(function () {
                var selectedId = $('#id');
                console.log(selectedId);
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { 'id': selectedId},
                    url: '@Url.Action("Details")',
                    success: function (result) {
                        $('#comments').html(result);
                    }
                });
            });*@
        });
        </script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Kayla Ondracek</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="BlogPost" asp-action="Index">Blog</a></li>
                </ul>
                <ul class="navbar-nav nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                    else
                    {
                        <li class="white-text">Welcome, @User.Identity.Name</li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                                <input type="submit" class="btn btn-default btn-xs logout-button" value="Log Off" />
                            }
                        </li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Kayla Ondracek</p>
        </footer>
    </div>

</body>
</html>
