@using Portfolio.Models
@{
    ViewData["Title"] = "Blog Post";
}



@model Portfolio.Models.Comment


<h4>@Model.BlogPost.Title</h4>
<p>@Model.BlogPost.BlogPostId</p>
<p>@Model.BlogPost.PostDate</p>
<p>@Model.BlogPost.TextBody</p>


@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    @Html.HiddenFor(model => model.BlogPostId)
    @Html.LabelFor(model => model.TextBody)
    @Html.TextBoxFor(model => model.TextBody)
    <input type="submit" class="btn btn-default" />
}

@foreach (Comment thisComment in ViewBag.Comments)
{
    <p>@thisComment.TextBody <span class="time">Posted by @thisComment.User.UserName at @thisComment.PostDate</span></p>

}